<div class="container-md">
  <%= form_with(url: "/recommendations", local: true) do %>
    <div class="form-group">
      <%= label_tag(:category, "Cateogry" ) %>
      <%= select_tag(:category_id, options_for_select(@cateogries), class: "form-control") %>    
    </div>
    <div class="form-group">
      <%= label_tag(:email_address, "Recommend To:") %>
      <%= text_field_tag(:email_address, nil, class: "form-control") %>
    </div>
    <div class="form-group">
      <%= label_tag(:description, "Description") %>
      <%= text_area_tag(:description, nil, class: "form-control") %>
    </div>
    <%= submit_tag("Recommend", class: "btn btn-primary") %>
  <% end %>
</div>
